.text {
    text-align: start;
    font-size: 1.2em;
    margin-right: 1em;
    margin: 10px;
    width: 94%;
    height: auto;
    
    }

.read-or-hide {
    color: #434544;
    cursor: pointer;
    padding: 0.2em;
    text-decoration:underline #434544;
    }

